<div class="container">
  <h1 >Stupid coaching</h1>
  <span>Ask your coach anything</span>
  <div>
    <form action='/answer' class="form">
      <input type='text' name='question' class='text-field'>
      <input type='submit' value='Ask' class='btn'>
    </form>
  </div>
</div>